.contacts {
    display: block;
    background-color: aquamarine;
    border: 2px solid blue;
    border-radius: 5px;
    margin: 0;
    margin-top: 20px;
    padding: 10px 30px;
}


.item {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px 0;
}


.text {
    font-size: 20px;
    font-weight: 700;
    margin: 0;

}

.button {
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid blue;
}

.button:hover, .button:focus {
    scale: 1.02;
}